<footer class="site-footer">
  <div class="container">
    <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.title %>. All rights reserved.</p>
    <p>Powered by <a href="https://hexo.io/" target="_blank">Hexo</a> and <a href="https://github.com/oxfoxlion/Shao-Hexo-Theme" target="_blank">Shao-Hexo-Theme</a>.</p>
    </div>
</footer>